/*********************************
*
* Author: The milkman
* Place: behind you
* Why: for all your SINS
*
*********************************/

p, span, a, li{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;

}