/*********************************
*
* Author: The milkman
* Place: behind you
* Why: for all your SINS
*
*********************************/

/* remember that you can put in many fonts*/

a{
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: greenyellow;
    text-decoration: underline;
    background-color: blue;
}

#main-content p{
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 12px;
    margin-bottom: 32px;
}