/*********************************
*
* Author: The milkman
* Place: behind you
* Why: for all your SINS
*
*********************************/

*{
    padding: 30;
    color: black;
    margin-left: 25px;
    
}

a{
    color: green;
}